.results-table {
    width: 100%;
    table-layout: fixed;
    max-height: 500px;
    min-height: auto;
    overflow-y: auto;
    display: block;
}
.results-table thead, .results-table tbody {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.results-table tbody {
    display: block;
    max-height: 420px;
    overflow-y: auto;
}
.results-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
